<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://clpdlsapps01/innovation</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>clpdlsapps01</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/innovation</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>MRISOFTWARE\PHOUSE</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ChanceDays2.Models.ProjectDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=CLDBPRODVS02\SQL2008;Initial Catalog=InnovationDays;Persist Security Info=True;User ID=InnovationDays;Password=2besK4Km" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ChanceDays2.Models.ProjectDBContext, ChanceDays2" MigrationConfiguration="ChanceDays2.Migrations.Configuration, ChanceDays2" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ChanceDays2.Models.ProjectDBContext-Web.config Connection String">
      <ParameterValue>Data Source=CLDBPRODVS02\SQL2008;Initial Catalog=InnovationDays;Persist Security Info=True;User ID=InnovationDays;Password=2besK4Km</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ChanceDays2.Models.ProjectDBContext" />
  </ItemGroup>
</Project>